name: scholarlymail

services:
  mongodb:
    image: mongo:4.4.18
    ports:
      - "27017:27017"
    networks:
      - scholarlymail
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo "mongodb://localhost:27017/local" --quiet
      interval: 30s
      timeout: 10s
      retries: 5

  web:
    build: .
    ports:
     - "8081:8081"
    image: scholarlymail
    networks:
      - scholarlymail
    depends_on:
      mongodb:
        condition: service_healthy
        restart: true


volumes:
  mongodb_data:
    driver: local


networks:
  # The presence of these objects is sufficient to define them
  scholarlymail: {}
