name: scholarlymail

services:
  couchbase:
    image: couchbase:community
    ports:
      - "8091-8094:8091-8094"
      - "11210:11210"
    networks:
      - scholarlymail
    volumes:
      - db_data:/data/db
    environment:
      COUCHBASE_ADMINISTRATOR_USERNAME: ${DB_ROOT_USERNAME}
      COUCHBASE_ADMINISTRATOR_PASSWORD: ${DB_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8091/ui/index.html"]
      interval: 10s
      timeout: 5s
      retries: 10

  web:
    build: .
    image: scholarlymail
    ports:
      - "8081:8081"
    networks:
      - scholarlymail
    environment:
      SPRING_APPLICATION_NAME: scholarlymail
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: always
      SPRING_COUCHBASE_CONNECTION_STRING: couchbase://couchbase
      SPRING_COUCHBASE_USERNAME: ${DB_ROOT_USERNAME}
      SPRING_COUCHBASE_PASSWORD: ${DB_ROOT_PASSWORD}
      SPRING_DATA_COUCHBASE_BUCKET_NAME: articles

    depends_on:
      couchbase:
        condition: service_healthy

volumes:
  db_data:
    driver: local

networks:
  scholarlymail: {}
